<div *ngFor="let wakeWord of wakeWords" style="margin-bottom: 25px;">
    <p class="label" [innerHTML]="wakeWord.label"></p>
    <app-progress-cursor
            [countStart]="0"
            [countEnd]="500"
            [countTraining]="wakeWord.countTrainingData"
            [countValidation]="wakeWord.countTrainingDataValidated"
            [bubble]="true"></app-progress-cursor>

    <div class="detail">
        <p class="text">
            <b [innerHTML]="wakeWord.countTrainingData"></b> entraînements dont
            <b [innerHTML]="wakeWord.countTrainingDataValidated"></b> validés<br>
            <span>Objectif à atteindre : <b [innerHTML]="'75'"></b></span>
        </p>

        <div class="actions">
            <a *ngIf="wakeWord.countTrainingDataValidated !== wakeWord.countTrainingData"
               [routerLink]="[ '/', { outlets: { modal: ['modal', 'validator', wakeWord.uuid] } } ]"
               class="validate">
                <i class="mdi mdi-check"></i> Valider des enregistrements
            </a>
            <a [routerLink]="[ '/', { outlets: { modal: ['modal', 'recorder', wakeWord.uuid] } } ]"
               class="record">
                <i class="mdi mdi-microphone"></i> Donner ma voix
            </a>
        </div>
    </div>

<!--    <button id="btn-start-recording"-->
<!--            [disabled]="recordInProgress !== null"-->
<!--            (click)="startRecord(wakeWord.uuid)">Start Recording</button>-->
<!--    <button id="btn-stop-recording"-->
<!--            [disabled]="recordInProgress !== wakeWord.uuid"-->
<!--            (click)="stopRecord()">Stop Recording</button>-->
    <hr>
</div>
