<div class="container">
    <p [innerHTML]="countStart" class="count start"></p>
    <div>
        <div *ngIf="bubble"
             [ngStyle]="{ left: 'calc(' + (countTraining / countEnd * 100) + '% - 15px)' }"
             class="bubble top">
            <p [innerHTML]="countTraining"></p>
        </div>
        <div class="gutter">
            <div [ngStyle]="{ width: (countTraining / countEnd * 100) + '%' }"></div>
            <div [ngStyle]="{ width: (countValidation / countEnd * 100) + '%' }"></div>
        </div>
        <div *ngIf="bubble" [ngStyle]="{ left: 'calc(' + (countValidation / countEnd * 100) + '% - 15px)' }"
             class="bubble bottom">
            <p [innerHTML]="countValidation"></p>
        </div>
    </div>
    <p [innerHTML]="countEnd" class="count end"></p>
</div>
