.container {
  display: flex;

  .count {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;

    &.start {
      width: 25px;
    }

    &.end {
      width: 45px;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;

    .gutter {
      position: relative;
      height: 20px;
      border-radius: 10px;
      background: #e3e3e3;

      > div {
        position: absolute;
        height: 100%;
        left: 0;
        border-radius: 10px;
        background: #74A6E6;

        &:nth-child(1) {
          opacity: .5;
        }
      }
    }

    .bubble {
      position: relative;
      margin: 0;
      width: 30px;
      border-radius: 5px;

      &.top {
        margin-bottom: 5px;
        background: #367BB4;
        color: #fff;

        &::after {
          content: "";
          position: absolute;
          left: 10px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #367BB4;
        }
      }

      &.bottom {
        margin-top: 5px;
        background: #434343;
        color: #fff;

        &::before {
          content: "";
          position: absolute;
          left: 10px;
          top: -5px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #434343;
        }
      }

      p {
        margin: 0;
        padding: 0;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: .8rem;
      }
    }
  }
}
