.player-container {
  position: relative;
  display: flex;
}

.recorder-container {
  position: relative;
}

.round {
  position: relative;
  z-index: 10;
  width: 50px;
  height: 50px;
  border: 1px #b1b1b1 solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.error {
    background: #bd2130;
    color: #fff;
  }

  &.upload {
    border-radius: 50%;
    background: linear-gradient(0deg, #007bff 0%, #007bff 50%, #ffffff 50%, #ffffff 100%);
    background-size: 100% 200%;
    transition: background-position .2s linear;
    background-position: 0% 0%;
    color: #fff;

    i {
      color: #ffff00;
      mix-blend-mode: difference;
    }
  }

  &.download {
    background: #007bff;
    color: #fff;
  }

  &.done {
    background: #2ca02c;
    color: #fff;
  }
}

button {
  &.record {
    background: #cccccc;

    &:not([disabled]):hover {
      cursor: pointer;
      background: #eaeaea;
    }
  }

  &.play {
    background: #2ca02c;
  }

  &.stop, &.stop-playing {
    background: #bd2130;
    border: 1px #bd2130 solid;
    color: #fff;
    animation: 1s bounce-out 1s infinite;

    &:hover {
      cursor: pointer;
      background: #e5283a;
    }
  }

  &.trash {
    width: 25px;
    height: 25px;
  }
}

@keyframes bounce-out {
  0% { box-shadow: #f00 0px 0px 1px 1px; }
  100% { box-shadow: #f00 0px 0px 5px 3px; }
}
