<div *ngIf="!record.blob" class="recorder-container">
    <button (click)="startRecord()"
            *ngIf="!record.inProgress"
            [disabled]="disabled"
            class="round record">
        <i class="mdi mdi-microphone mdi-36px"></i>
    </button>
    <div *ngIf="record.inProgress"
         class="visualizer">
        <div #bar
             *ngFor="let i of [].constructor(64)"
             class="bar"></div>
    </div>
    <button (click)="stopRecord()"
            *ngIf="record.inProgress"
            class="round stop">
        <i class="mdi mdi-microphone-off mdi-36px"></i>
    </button>
</div>
<div *ngIf="record.blob && !record.uploadStatus" class="player-container">
    <button (click)="playRecord()"
            *ngIf="!record.isPlaying"
            [disabled]="disabled"
            class="round play">
        <i class="mdi mdi-play mdi-36px"></i>
    </button>
    <div *ngIf="record.isPlaying"
         class="visualizer">
        <div #bar
             *ngFor="let i of [].constructor(64)"
             class="bar"></div>
    </div>
    <button (click)="stopPlaying()"
            *ngIf="record.isPlaying"
            class="round stop-playing">
        <i class="mdi mdi-stop mdi-36px"></i>
    </button>
    <button (click)="removeRecord()"
            [disabled]="disabled"
            class="round trash">
        <i class="mdi mdi-trash-can mdi-18px"></i>
    </button>
</div>
<div *ngIf="record.uploadStatus === 'upload'">
    <div [ngStyle]="{'backgroundPositionY.%': record.uploadPercent}" class="round upload">
        <i class="mdi mdi-cloud-upload mdi-36px"></i>
    </div>
</div>
<div *ngIf="record.uploadStatus === 'download'">
    <div class="round download">
        <i class="mdi mdi-sync mdi-36px"></i>
    </div>
</div>
<div *ngIf="record.uploadStatus === 'done'">
    <div class="round done">
        <i class="mdi mdi-check mdi-36px"></i>
    </div>
</div>
<div *ngIf="record.uploadStatus === 'error'">
    <div class="round error">
        <i class="mdi mdi-exclamation mdi-36px"></i>
    </div>
</div>
